#tp_node_options .form-text,
.tinypass_price_options .form-text {
  width: auto;
}
.tp_add_tag_table {
  width: auto;
}

.tp_add_tag_table tbody {
  border-top: 0px;
}

.tinypass_button_holder {
  text-align: center;
}
.tinypass_button_holder .tinypass_access_message {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.container-inline-date div .form-item {
  margin-left: 10px;
}

.container-inline-date div label {
  margin-left: 10px;
}

.container-inline-date div {
  margin-left: 0;
}

table.small-table {
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
}

table.small-table tbody {
  border: 0 none;
}

table.small-table td {
  padding-top: 0px;
  vertical-align: top;
}

table.small-table .form-item {
  margin: 0px;
  padding: 0px;
}

.clear {
  clear: both;
}

div.st .col {
  float: left;
}

.form-item-m-lp,
.form-item-m-tp {
  float: left;
}

#edit-metered-wrapper,
#edit-m-tp-wrapper,
#edit-m-lp-wrapper {
  float: left;
}

#tinypass_meta_options .form-item {
  margin: 0px;
  padding: 0px;
}

#tinypass_meta_options .hide {
  display: none;
}

#tinypass_meta_options table.tp-table td {
  padding-left: 5px;
}

#tinypass_meta_options .tp-price-option-form {
  padding: 10px;
}
.tp-price-option-form #edit-tp-start-time0-wrapper {
  margin-right: 10px;
}

#tinypass_meta_options table.tp-table {
  border: 1px solid #bebfb9;
  margin: 0px;
  padding: 0px;
}

table.tp-table {
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  width: auto;
}
.no-border {
  border: 0px;
}

.no-border tbody {
  border: 0px;
}

table.tp-table tbody {
  border: 0 none;
}

table.tp-table td {
  padding-top: 0px;
  vertical-align: top;
}

table.tp-table .form-item {
  margin: 0px;
  padding: 0px;
}
